In [428]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [429]:
data = pd.read_csv('data\movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1397,tt0371257,50000000,8342132,Stay,Ewan McGregor|Ryan Gosling|Naomi Watts|Kate Bu...,Marc Forster,Between the worlds of the living and the dead ...,"Psychiatrist Sam Foster has a new patient, Hen...",99,Mystery|Thriller|Drama,20th Century Fox|Regency Enterprises,9/24/2005,6.4,2005
1099,tt0274166,40000000,160583018,Johnny English,Rowan Atkinson|John Malkovich|Natalie Imbrugli...,Peter Howitt,"He knows no fear, he knows no danger, he knows...",Rowan plays the eponymous lead character in a ...,88,Adventure|Action|Comedy,Universal Pictures|StudioCanal,4/6/2003,6.0,2003
949,tt0270288,30000000,33013805,Confessions of a Dangerous Mind,Sam Rockwell|Drew Barrymore|Julia Roberts|Rutg...,George Clooney,Some things are better left top secret.,"Television made him famous, but his biggest hi...",113,Comedy|Crime|Drama|Romance|Thriller,Miramax Films|Allied Filmmakers|Mad Chance,12/30/2002,6.4,2002
921,tt0245562,115000000,77628265,Windtalkers,Nicolas Cage|Adam Beach|Peter Stormare|Noah Em...,John Woo,Honor Was Their Code.,Joe Enders is a gung-ho Marine assigned to pro...,134,Drama|Action|History|War,Lion Rock Productions|Metro-Goldwyn-Mayer (MGM),6/14/2002,5.9,2002
537,tt0240462,70000000,176104344,Dr. Dolittle 2,Eddie Murphy|Kristen Wilson|Raven-SymonÃ©|Kyla...,Steve Carr,The doctor is in again.,"Dr. John Dolittle the beloved doctor is back, ...",87,Comedy|Family|Romance|Fantasy,Twentieth Century Fox Film Corporation,6/22/2001,4.9,2001

In [430]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [431]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [432]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data.release_date = pd.to_datetime(data.release_date)
data['profit'] = data.revenue - data.budget
# data.genres = data.genres.str.split('|')

In [433]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 221.5+ KB

In [434]:
# create a data frame where multiple values in genres, directors & cast columns are unpacked using pd.explode()
data_exploded = data.copy()
data_exploded.director = data_exploded.director.str.split('|')
data_exploded.genres = data_exploded.genres.str.split('|')
data_exploded.cast = data_exploded.cast.str.split('|')
data_exploded = data_exploded.explode('genres')
data_exploded = data_exploded.explode('director')
data_exploded = data_exploded.explode('cast').reset_index(drop=True)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [435]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [436]:
# тут пишем ваш код для решения данного вопроса:
title, imdb_id = data[data.budget == data.budget.max()][['original_title', 'imdb_id']].values[0]

ВАРИАНТ 2

In [437]:
# можно добавлять разные варианты решения
assert title, imdb_id == data.iloc[data.budget.idxmax()][['original_title', 'imdb_id']]

ФИНАЛЬНЫЙ ОТВЕТ

In [438]:
answers['1'] = f"{title} ({imdb_id})"
# correct

# 2. Какой из фильмов самый длительный (в минутах)?

In [439]:
title, imdb_id = data[data.runtime == data.runtime.max()][['original_title', 'imdb_id']].values[0]

ВАРИАНТ 2

In [440]:
assert title, imdb_id == data.sort_values('runtime', ascending=False)[['original_title', 'imdb_id']].values[0]

ФИНАЛЬНЫЙ ОТВЕТ

In [441]:
answers['2'] = f"{title} ({imdb_id})"
# correct

# 3. Какой из фильмов самый короткий (в минутах)?

In [442]:
title, imdb_id = data[data.runtime == data.runtime.min()][['original_title', 'imdb_id']].values[0]

ВАРИАНТ 2

In [443]:
assert title, imdb_id == data.iloc[data.runtime.idxmin()][['original_title', 'imdb_id']]

ФИНАЛЬНЫЙ ОТВЕТ

In [444]:
answers['3'] = f"{title} ({imdb_id})"
# correct

# 4. Какова средняя длительность фильмов?

In [445]:
mean_runtime = data.runtime.mean()

ВАРИАНТ 2

In [446]:
assert mean_runtime == data.runtime.apply('mean')

ФИНАЛЬНЫЙ ОТВЕТ

In [447]:
answers['4'] = round(mean_runtime, 0)
# correct

# 5. Каково медианное значение длительности фильмов?

In [448]:
median_runtime = data.runtime.median()

ВАРИАНТ 2

In [449]:
assert median_runtime == data.runtime.apply('median')

ФИНАЛЬНЫЙ ОТВЕТ

In [450]:
answers['5'] = round(median_runtime, 0)
# correct

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [451]:
title, imdb_id = data.iloc[data.profit.idxmax()][['original_title', 'imdb_id']]

ФИНАЛЬНЫЙ ОТВЕТ

In [452]:
answers['6'] = f"{title} ({imdb_id})"
# correct

# 7. Какой фильм самый убыточный?

In [453]:
title, imdb_id = data.iloc[data.profit.idxmin()][['original_title', 'imdb_id']]

ФИНАЛЬНЫЙ ОТВЕТ

In [454]:
answers['7'] = f"{title} ({imdb_id})"
# correct

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [455]:
n_films = len(data[data.revenue > data.budget])

ВАРИАНТ 2

In [456]:
assert n_films == data.query('revenue > budget').shape[0]

ФИНАЛЬНЫЙ ОТВЕТ

In [457]:
answers['8'] = n_films
# correct

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [458]:
title, imdb_id = data[data.release_year == 2008].sort_values('revenue', ascending=False)[['original_title', 'imdb_id']].values[0]

ВАРИАНТ 2

In [459]:
assert title, imdb_id == data.query('release_year = 2008').sort_values('revenue')[['original_title', 'imdb_id']].values[-1]

ФИНАЛЬНЫЙ ОТВЕТ

In [460]:
answers['9'] = f"{title} ({imdb_id})"
# correct

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [461]:
title, imdb_id = data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values('profit')[['original_title', 'imdb_id']].values[0]

ВАРИАНТ 2

In [462]:
assert title, imdb_id == data.query('2012 <= release_year <= 2014').sort_values('profit')[['original_title', 'imdb_id']].values[0]

ФИНАЛЬНЫЙ ОТВЕТ

In [463]:
answers['10'] = f"{title} ({imdb_id})"
# correct

# 11. Какого жанра фильмов больше всего?

In [464]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

from collections import Counter
c = Counter()
for genre in data.genres:
    for each in genre.split('|'):
        c[each] += 1
# dict(sorted(c.items(), key=lambda x: x[1], reverse=True))
genre = [genre for genre, count in c.items() if count == max(c.values())][0]

ВАРИАНТ 2

In [465]:
assert genre == data.genres.str.split('|').explode().value_counts().index[0]

ВАРИАНТ 3

In [466]:
# using exploaded df
assert genre == data_exploded.genres.value_counts().index[0]

ФИНАЛЬНЫЙ ОТВЕТ

In [467]:
answers['11'] = genre
# correct

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [468]:
genre = data_exploded[data_exploded.profit > 0].genres.value_counts().index[0]

ФИНАЛЬНЫЙ ОТВЕТ

In [469]:
answers['12'] = genre
# incorrect

Understood the mistake, the correct code was:

In [483]:
data = data[data.profit > 0]
a.genres.str.split('|').explode().value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [470]:
name = data_exploded.groupby('director').revenue.sum().sort_values(ascending=False).index[0]

ФИНАЛЬНЫЙ ОТВЕТ

In [471]:
answers['13'] = name
# correct

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [472]:
director = data_exploded.query('genres == "Action"').director.value_counts().index[0]

ФИНАЛЬНЫЙ ОТВЕТ

In [473]:
answers['14'] = director
# correct

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [474]:
films_2012 = data_exploded.query('release_year == 2012')
films_2012[films_2012.revenue == films_2012.revenue.max()].cast.value_counts()

Scarlett Johansson    3
Robert Downey Jr.     3
Chris Evans           3
Chris Hemsworth       3
Mark Ruffalo          3
Name: cast, dtype: int64

ФИНАЛЬНЫЙ ОТВЕТ

In [475]:
answers['15'] = 'Chris Hemsworth'
# correct

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [476]:
high_budget_films = data[data.budget > data.budget.mean()]
actor = high_budget_films.cast.str.split('|').explode().value_counts().index[0]

ФИНАЛЬНЫЙ ОТВЕТ

In [477]:
answers['16'] = actor
# correct

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [478]:
genre = data_exploded.query('cast == "Nicolas Cage"').genres.value_counts().index[0]

ФИНАЛЬНЫЙ ОТВЕТ

In [479]:
answers['17'] = genre
# correct

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)